*{
  margin:0;
  padding:0;
}

body{
  font-family:arial,sans-serif;
  font-size:100%;
  background: linear-gradient(#ccc, #fff);
  color:#fff;
  height: 100vh; 
}


.tasksList{
  overflow:hidden;
  padding:3em;
}

.tasksList div{
  position: absolute;
  margin:1em;
  float:left;
}

.tasksList div h2{
  font-size:120%;
  font-weight:bold;
  padding-bottom:10px;
}

.tasksList div p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}

.tasksList div a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  height:10em;
  width:10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

.tasksList div a{
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.tasksList div:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}

.tasksList div:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}

.tasksList div:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

.tasksList div a:hover,.tasksList div a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index: 500;
  cursor: pointer;
}

button{
  background-color: transparent;
  border-color: transparent;
}

.button{
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.singleTask-enter {
  opacity: 0; 
}
.singleTask-enter-active {
  opacity: 1; 
  transition: transform 1000ms ease-in-out;
}
.singleTask-exit {
  opacity: 1; 
}
.singleTask-exit-active {
  opacity: 0; 
  transition: transform 1000ms ease-in;
}

/* 
body {
  
  font: 14px sans-serif; 
  padding: 20px; 
  height: 100vh; 
  width: 100vw;
}

.App {
  margin: 5vh 20vw; 
}

.tasksList {
  display: flex;
  flex-wrap: wrap;
}

.addTask {
  display: flex; 
  flex-direction: column;
  border: 2px dotted black; 
  margin: 10px; 
  padding: 10px; 
  width: 200px; 
}

.task {
  position: absolute; 
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3); 
  text-align: center; 
  margin: 26px auto 0; 
  padding: 5vw; 
  /* box-shadow: 11px 3px 71px -6px rgb(0,0,0); 
  border-radius: 50%; */
/*}

.task:hover {
  cursor: pointer;
}

.addTask button {
    margin: 5px 61px;
}



.deleteButton {
	/* background-color: #b61919;
	color: white;
  padding: 0.2vw 0.5vw; */
  /*border-color: transparent;
}

.editButton{
  border-color: transparent;
}

.material-icons{
  font-size: 20px; 
}
.task {
  position: absolute; 
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3); 
  text-align: center; 
  margin: 26px auto 0; 
  padding: 5vw; 
  /* box-shadow: 11px 3px 71px -6px rgb(0,0,0); 
  border-radius: 50%; */
/*}

.task:hover {
  cursor: pointer;
}
.postit {
  position: absolute; 
  line-height: 1;
  text-align:center;     
  width: 275px;    
  margin: 25px;    
  min-height:170px;
  max-height:170px;
  padding-top:35px;  
  border:1px solid #E8E8E8;  
  border-top:60px solid #fdfd86;
  font-family:'Reenie Beanie';    
  font-size: 33px;       
  border-bottom-right-radius: 60px 5px;
  display:inline-block;    
  background: #ffff88; 
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
 /* background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
 /* background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
 /* background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
/*}
 
.shadow {     
  content: "";
  position:absolute;
  z-index:-1;
  width:200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
} */