* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 100%;
  background: linear-gradient(#ccc, #fff);
  color: black;
  height: 100vh;
}

.titlegroup {
  display: flex;
  justify-content: center;
  .title {
      font-family: "test";
      margin: 5vh; 
  }
  .addTask {
    background: #ffc;
    padding: 10px;
    font-family: "Comic Sans MS";
    width: 400px;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    transform: rotate(-1deg);
    margin: 1vh 0 0 35vw; 
    &:hover{
      z-index: 999; 
    }    
    select {
      margin: 1px 0 15px 0;
    }
    textarea {
      text-decoration: none;
      color: #000;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1em;
      font-family: "Reenie Beanie", arial, sans-serif;
      font-size: 1.5rem;
      width: 82%;
      background: transparent;
      border: 1px solid brown;
      &:active {
        z-index: 999; 
        cursor: pointer;
      }
      &:focus {
        z-index: 999; 
        cursor: pointer;
      }
    }
    .btn-sit {
      border: 2px solid #333;
      padding: 2px 10px;
      background: none;
      font-family: "test";
      font-size: 20px;
    }
    .inp-sit {
      border: 2px solid #333;
      padding: 6px;
      vertical-align: top;
    }
  }
}

.tasksList {
  .green a {
    transform: rotate(4deg);
    position: relative;
    background: #cfc;
  }
  .purple a {
    transform: rotate(-3deg);
    position: relative;
    background: #ccf;
  }
  .yellow a {
    transform: rotate(5deg);
    position: relative;
  }
  .red a {
    background: linear-gradient(135deg, #ff879b 81%, #ff879b 82%, #ffc7d0 100%);
    transform: rotate(-1deg);
    position: relative;
  }
  div {
    position: absolute;
    margin: 1em;
    float: left;
    a {
      text-decoration: none;
      color: #000;
      background: #ffc;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 10em;
      width: 10em;
      padding: 1em;
      box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
      transition: transform 0.15s linear;
      &:active {
        box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
        transform: scale(1.25);
        position: relative;
        z-index: 500;
        cursor: pointer;
      }
      &:focus {
        box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
        transform: scale(1.25);
        position: relative;
        z-index: 500;
        cursor: pointer;
      }
      h2 {
        font-size: 120%;
        font-weight: bold;
        padding-bottom: 10px;
      }
      p {
        font-family: "Reenie Beanie", arial, sans-serif;
        font-size: 180%;
      }
      textarea {
        font-family: "Reenie Beanie", arial, sans-serif;
        font-size: 100%;
        position: absolute;
        top: 25%;
        width: 85%;
        height: 70%;
        background: transparent;
      }
      .button {
        display: flex;
        justify-content: flex-end;
        width: 80%;
        bottom: 0;
        button {
          background-color: transparent;
          border-color: transparent;
        }
      }
    }
  }
}

.hidden {
  display: none;
}

.singleTask-enter {
  opacity: 0;
}
.singleTask-enter-active {
  opacity: 1;
  transition: transform 1000ms ease-in-out;
}
.singleTask-exit {
  opacity: 1;
}
.singleTask-exit-active {
  opacity: 0;
  transition: transform 1000ms ease-in;
}
