*{
  margin:0;
  padding:0;
}

body{
  font-family:arial,sans-serif;
  font-size:100%;
  background: linear-gradient(#ccc, #fff);
  color:#fff;
  height: 100vh; 
}

.tasksList{
  overflow:hidden;
  padding:3em;
}

.tasksList div{
  position: absolute;
  margin:1em;
  float:left;
}

.tasksList div h2{
  font-size:120%;
  font-weight:bold;
  padding-bottom:10px;
}

.tasksList div p, .tasksList div p input{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}

.tasksList div a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  height:10em;
  width:10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

.tasksList div a{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.tasksList div:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}

.tasksList div:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}

.tasksList div:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

.tasksList div a:active,.tasksList div a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index: 500;
  cursor: pointer;
}

.tasksList div a .button{
  display: flex;
  justify-content: flex-end;
  width: 80%; 
}


.tasksList div a button{
  background-color: transparent;
  border-color: transparent;
}

.hidden {
  display: none;
}

.singleTask-enter {
  opacity: 0; 
}
.singleTask-enter-active {
  opacity: 1; 
  transition: transform 1000ms ease-in-out;
}
.singleTask-exit {
  opacity: 1; 
}
.singleTask-exit-active {
  opacity: 0; 
  transition: transform 1000ms ease-in;
}

.title{
  position: absolute; 
  top: 2vh; 
  left: 5vw; 
}


.addTask {
  position: absolute; 
  bottom: 2vh; 
  right: 5vw; 
  display: inline-block; 
  border: 0.02px solid black; 
  margin: 10px; 
  padding: 10px; 
  min-width: 200px; 
}

