body {
  background: linear-gradient(#ccc, #fff);
  font: 14px sans-serif; 
  padding: 20px; 
  height: 100vh; 
  width: 100vw;
}

.App {
  margin: 5vh 20vw; 
}

.tasksList {
  display: flex;
  flex-wrap: wrap;
}

.addUser {
  display: flex; 
  flex-direction: column;
  border: 2px dotted black; 
  margin: 10px; 
  padding: 10px; 
  width: 200px; 
}

.task {
  position: absolute; 
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3); 
  text-align: center; 
  margin: 26px auto 0; 
  padding: 5vw; 
  /* box-shadow: 11px 3px 71px -6px rgb(0,0,0); 
  border-radius: 50%; */
}

.addUser button {
    margin: 5px 61px;
}

.hidden {
  display: none;
}

.singleTask-enter {
  transform: scale(1.1) translateY(-10px);
  opacity: 0.5; 
}
.singleTask-enter-active {
  transform: scale(1) translateY(0);
  opacity: 1; 
  transition: transform 500ms ease-in-out;
}
.singleTask-exit {
  opacity: 1; 
  transform: scale(1) translateY(0) translateX(0);
}
.singleTask-exit-active {
  transform: scale(0.9) translateY(70px);
  opacity: 0.8; 
  transition: transform 500ms ease-in;
}
